@{
    ViewData["Title"] = "Get to Know Joel";
}
<div>
    <h3>Check Joel out at "Quick Wits Comedy"</h3>
    <a href="https://www.qwcomedy.com/" class="buttonstyle">Click Here</a>
</div>

<div>
    <h3>Appreciate this glorius bit of heaven</h3>
    <a href="https://baconsale.com/" class="buttonstyle">Click Here</a>
</div>


<div>
    <h3>Try clicking on this photo. I promise it isn't sketchy...</h3>
    <a href="https://baconsale.com/">
        <img src="/lib/img/baconsalekate.jpg" alt="Baconsale Team" height="500">

    </a>

</div>
