@page
@model Mission06_Mollinet.Views.Home.MovieListModel
@{
}

<table>
    <thead>
        <td>Category</td>
        <td>Title</td>
        <td>Year</td>
        <td>Director</td>
        <td>Rating</td>
        <td>Edited</td>
        <td>Lent To</td>
        <td>Notes</td>
    </thead>

    <tbody>

    </tbody>
</table>